<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Blog Content</title>
</head>
<body>
 <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container my-3">
      <a class="navbar-brand" href="#">
        <img src="/image/logo.png" alt="brand-img" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ms-3">
            <a class="nav-link active fw-bolder text-danger" aria-current="page" href="/">Home</a>
          </li>
          {{#if isLogin}}
              <li class="nav-item ms-3">
              <a class="nav-link" href="/blog">Add Project</a>
              </li>
          {{/if}}
        </ul>

        <div class="d-flex">
			<ul class="navbar-nav me-auto mb-2 ms-5 mb-lg-0">
				{{#if isLogin}}
					<li class="nav-item">
						<a
							class="nav-link text-danger active fw-semibold"
							href="#"
							>Hello, {{user}}</a>
					</li>
					<li class="nav-item ms-3">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
				{{else}}
					<li class="nav-item">
						<a class="nav-link" href="/register">Register</a>
					</li>
					<li class="nav-item ms-3">
						<a class="nav-link text-danger active fw-semibold" href="/login">Login</a></li>
							{{/if}}
						</ul>
						<a class="btn btn-danger" href="/contact">Contact Me</a>
					</div>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

{{!-- Alert --}}
{{#if messages.success}}
			<div class="alert alert-success" role="alert">
				<div class="container">
					{{messages.success}}
				</div>
			</div>
		{{/if}}

<!-- Content -->
<div class="blog-detail mt-4">
	<h1 class="fw-bold text-start">{{blog.name}}</h1>
	<div class="left-header">
		<div class="row my-4 p-2 bg-danger-subtle">
			<img src="/image/{{blog.image}}" class="col-12 col-lg-6 img-fluid object-fit-cover" alt="gambar" style="height: 375px;" />
		</div>
		<div class="right-header col-12 col-lg-6 banner-desc">
			<div class="duration">
				<h5>Duration:</h5>
				<p>
					<i class="fa-regular fa-calender-days"></i>{{blog.start_date}}
					-
					{{blog.end_date}}
				</p>

				<p><i class="fa-solid fa-clock"></i>{{blog.duration}}</p>
			</div>
			<div class="technologi">
				<h5>Technologies:</h5>
				<div class="techstack mb-3">
					{{blog.technologies}}
				</div>
			</div>
			<div class="author">
				<h5>Author:</h5>
				<p>{{blog.author}}</p>
			</div>
			<div class="publish">
				<h5>Published At:</h5>
				<p>{{blog.createdAt}}</p>
			</div>
		</div>
	</div>
	<div class="paragraph">
		<h4>Description:</h4>
		<p>{{blog.description}}</p>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <!-- End Content -->
  {{!-- <script src="js/getTechnologies.js"></script> --}}
</body>
</html>